#input{
	font-family: Pricedown;
	font-size: 26px;
	text-shadow: 0px 0px 5px black;
	color: white;
	text-align: center;
	padding: 15px;
}
#output{
	font-family: Pricedown;
	font-size: 20px;
	text-shadow: 0px 0px 5px black;
	color: white;
	text-align: center;
	padding: 15px;
}
